.image-preview {
  width: 10%;
}

.image-preview-td {
  width: 20rem;
}

.Table {
  margin-left: 20px;
  margin-right: 20px;
}

td {
  text-align: center;
  vertical-align: middle;
}
.Delete {
  cursor: pointer;
}
